
@media screen and (max-width : 1199px) and (min-width : 992px) {
    /* .white > .container {
        padding-top : 200px;
    } */
}
@media screen and (min-width : 992px) {
    #about, #who-we-are, #what-we-do, #services , #why-choose-us, #our-work, #team, #contact{
        height : 100vh;
    }
    #about > .container, #who-we-are > .container, #what-we-do > .container, 
    #services > .container, #why-choose-us > .container, #our-work > .container > .container, 
    #team > .container, #contact > .container
    {
        height : 100%;
    }
    section.white.exception {
        height : auto;
    }
    section.white {
        height : 100vh;
    }
    section {
        padding : 0 !important;
    }
    .white {
        padding : 0 !important;
    }
    section.white > .container {
        display : flex;
        flex-direction : column;
        justify-content : center;
        align-items : center;
    }
    
    .slick-list {
        display : none;
    }
    .team-member {
        width : 40%;
    }
    .margin-top-custom {
        margin-top : 70px;
    }
}
.team-member {
    width : 30%;
}
.padding-top {
    padding-top : 40px;
}

.blog-post-images img {
    object-fit:cover ;
    object-position : center center;
    width : 100%;
    height : 100%;
}
.blog-post-images {
    height : 196.02px;
}
.text-secondary {
    color : #626262 !important;
}
.custom-margin-top {
    margin-top : 75px;
}
/*  */
section {
    padding : 0 !important;
}
.white {
    padding : 0 !important;
}
.height-inherit {
    height : inherit;
}
.display-none {
    display : none;
}